<!DOCTYPE html>
<html>
  <head>
      <title>{{ post.title }}</title>
  </head>
  <body>
      {% include 'base.html' %}
    <div align="left">
        <div class="div_main">
            <ol class="row">
              <li class="breadcrumb-item"><a href="/blog">Блог</a></li>
              <li class="breadcrumb-item active">{{ post.title }}</li>
            </ol>
            <h2 class="display-4">{{ post.title }}</h2>
            <br>

            <p class="text-success">{{ post.last_modified.date }}</p>
            <p class="lead" >{{ post.body | linebreaks }}</p>
            <hr class="my-4">
            <p class="text-secondary">Технологии</p>
            <p class="text-primary">{{ post.categories.name }}</p>
            <hr class="my-4">
            <h3>Комментарии</h3>
            <br>
            {% for comment in comments %}
                {% if comment.post_id == post.id %}
                    <figure>
                      <blockquote class="blockquote">
                        <p class="mb-0">{{ comment.body }}</p>
                      </blockquote>
                      <figcaption class="blockquote-footer">
                        {{ comment.created_on.date }}, <cite title="Source Title"> {{ comment.author }}</cite>
                      </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

            <a href="/blog" >
                <button type="button" class="btn btn-outline-primary ">Вернуться назад</button>
            </a>
        </div>

    </div>
  </body>
    {% include 'footer.html' %}

</html>