{% load static %}
<div align="left" >
        <div class="div_main">
            <h3 class="display-4">Мои проекты</h3>
        </div>
        <div class="div_main">
            <div class="row">
                {% for project in projects %}
                <div class="col-md-4">
                    <div class="card mb-2">
                        <a href="{% url 'project_detail' project.pk %}">
                            <img class="card-img-top" src="{% static project.image %}">
                        </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p class="card-text">{{ project.description | slice:":70" }} ... </p>
                                <p>
                                    <a href="{% url 'project_tech' project.technology %}">
                                        <button type="button" class="btn btn-link">
                                            {{ project.technology }}
                                        </button></a>
                                </p>
                                <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">
                                    Подробнее
                                </a>

                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>